@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlığı Güncelle</h2>
@using (Html.BeginForm("UpdateHeading", "Heading", FormMethod.Post))
{
     <div class="form-group">
         @Html.Label("#")
         @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control" })
         @Html.ValidationMessageFor(x => x.HeadingId, "", new { @style = "color:red" })
         <br />
         @Html.Label("Başlık  Adı")
         @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
         @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
         <br />
         @Html.Label("Kategori")
         @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
         @Html.ValidationMessageFor(x => x.CategoryId, "", new { @style = "color:red" })
         <br />
         @Html.Label("Yazar  ID")
         @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.Writers, new { @class = "form-control" })
         @Html.ValidationMessageFor(x => x.WriterId, "", new { @style = "color:red" })
         <br />
         <button class="btn btn-success">Güncelle</button>
     </div>             
}
